<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicbankapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bank"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicBankApplication">
        <activity android:name=".SendToUserList"></activity>
        <activity android:name=".ViewAllTrans" />
        <activity android:name=".ViewUserDetails" />
        <activity android:name=".ViewAllUsers" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>